<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

    {{ range .Site.Params.css }}
      {{ $cssRelUrl := .link | relURL }}
      {{ $css := resources.Get $cssRelUrl | resources.Minify | resources.Fingerprint }}
      <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    {{ end }}

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

    <title>
      {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>
  </head>
  <body>
    <div id="wrapper">
    {{ block "header" . }}
    {{ end }}

    <div id="main-wrapper">
    {{ block "main" . }}
    {{ end }}
  </div>

    {{ block "footer" . }}
    {{ end }}
    {{ "<!-- JS -->" | safeHTML }}

    {{ range .Site.Params.javascript }}
      {{ $jsRelUrl := .link | relURL }}
      {{ $js := resources.Get $jsRelUrl | resources.Minify | resources.Fingerprint }}
      <script src="{{ $js.RelPermalink }}" id="{{ .id }}"></script>
    {{ end }}
  </div>
  </body>
</html>
