<script>
  $(document).ready(async function () {
    // make sure requested scopes were accepted
    // string comparison may not be reliable
    if (!(getUrlParameter("scope") == "{{.Site.Params.strava.scope}}")) {
      window.location = {{ .Site.Params.pages.error}};
    } else {
      let res = await addUser();
      if (res) {
        window.location = '{{ .Site.Params.pages.settings }}';
      } else {
        window.location = '{{ .Site.Params.pages.error }}';
      }
    }
  });
</script>
