<script>
  $(document).ready(async function () {
    let result = await getSettings();
    //let result = await saveSettings({"setting1":2});
    if (! result) {
j    } else {
      $("#settings-area").val(JSON.stringify(result.settings, null, 2));
      $("#available-settings-area").val(JSON.stringify(result.availableSettings, null, 2));
    };

  $("#save").click(async function(){
    let settings = $("textarea").val();
    let result = await saveSettings(settings);
    if (result) {
      window.location.reload();
    } else {
      window.location = '{{ .Site.Params.pages.settings }}error/';
    }
  });

  $("#logout").click(async function(){
    let result = await logout();
    if (result) {
      window.location = window.location.origin;
    } else {
      window.location = '{{ .Site.Params.pages.settings }}error/';
    }
  });

});
</script>
