<script>
  $(document).ready(async function () {
    let result = await getSettings();
    //let result = await saveSettings({"setting1":2});
    if (! result) {
      window.location = {{ .Site.Params.pages.error }};
    } else {
        $("textarea").val(JSON.stringify(result));
    };

  $("#save").click(async function(){
    let settings = $("textarea").val();
    let result = await saveSettings(settings);
    if (result) {
      window.location.reload();
    } else {
      window.location = {{ .Site.Params.pages.error }};
    }
  });

  $("#logout").click(async function(){
    let result = await logout();
    if (result) {
      window.location = window.location.origin;
    } else {
      window.location = {{ .Site.Params.pages.error }};
    }
  });

});
</script>
